<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
   
    <title>Document</title>
</head>
<body>
    <div class="tab">
    <table>
  
      <tr> <th>First name</th> <th>Last name</th> <th>Full name</th> </tr>
      
      <tr> <td>Michael</td> <td>Choi</td> <td>Michaelchoi</td> </tr>
      
      <tr> <td>John</td> <td>Supsupin</td> <td>John supsupin</td> </tr>
      
      <tr> <td>Mark</td> <td>Guillen</td> <td>Mark Guillen</td> </tr>
      
      </table>
      </div>
  
</body>
</html>