<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css
    ">
    <title>Edit Band</title>
</head>

<body>
    <div class="container p-2">
        <nav class="d-flex justify-content-between mb-3">
            <h1>Rock On, {{user.first_name}} {{user.last_name}}!!! </h1>
           <a href="/dashboard" class="btn btn-secondary btn-lg">Dashboard</a>
           <form action="/logout" method="post">
            <input type="submit" class="btn btn-danger btn-lg" value="Logout"></form>
            <a href="/my_bands" class="btn btn-info btn-lg">My Bands</a>
            
            </nav>
<form action="/bands/{{band.id}}/update" method="post">
    <div class="row"> 
        <div class="col-5">
           <div class="form-group">
            <label for="">Band Name:</label>
            {% for message in get_flashed_messages(category_filter=['band_name'])%}
            <p class=" h4 bg-warning text-danger">{{message}}</p>
        {%endfor%}
            <input type="text" name ="band_name" class="form-control" value="{{band.band_name}}">
         </div> 
         <div class="form-group">
            <label for="">Music Genre:</label>
            {% for message in get_flashed_messages(category_filter=['music_genre'])%}
            <p class=" h4 bg-warning text-danger">{{message}}</p>
        {%endfor%}
            <input type="text" name ="music_genre" class="form-control" value="{{band.music_genre}}">
         </div> 
         <div class="form-group">
            <label for="">Home City:</label>
            {% for message in get_flashed_messages(category_filter=['home_city'])%}
            <p class=" h4 bg-warning text-danger">{{message}}</p>
        {%endfor%}
            <input type="text" name ="home_city" class="form-control" value="{{band.home_city}}">
         </div>  
       
         <input type="submit" value="Update Band" class="mt-5 btn btn-warning btn-lg w-50">
        </div>
        
     
        </div>
        
    </form>
        </div>
</body>

</html>